# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
a1 = a[3:]

In [4]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
num2 = []
for val in num:
    if val % 2 == 0:
        num2.append(val)

In [6]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def my_func(num1, num2):
    return num1 / num2

In [7]:
# write a function that takes a string as input
# and return that string in all caps
def my_func2(word):
    return word.upper()

In [12]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1, 31):
    if (i % 3 == 0) and (i % 5 == 0):
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [13]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
pricing = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [1]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row.

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?